* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}
.sticky {     
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;    
    border: 2px solid #4CAF50;
  } 

.header {
    padding: 5px;
    top: 0;
    text-align: center;
    background-color: #4CAF50; 
}
.header h1 {
    font-size: 30px;    
}
.navBar {
    overflow: hidden;
    background-color: rgb(9, 7, 161);   
}

.navBar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar a:hover {
    background-color: #ddd;
    color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
}
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

.leftsocialcolumn {   
    float: left;
    width: 20%;
    text-align: center;
    
}
.rightsocialcolumn {   
    float: right;
    width: 60%;
}
/* Right column */

.srcimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
article {
    -webkit-columns: 3 200px;
       -moz-columns: 3 200px;
            columns: 3 200px;
    -moz-column-fill: auto;
         column-fill: auto;
  }
  @media (min-width: 500px) {
    article {
      height: 350px;
    }
  }
/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn, .leftsocialcolumn, .rightsocialcolumn{   
        width: 100%;
        padding: 0;
    }
}
@media screen and (max-width: 400px) {
    .columnsplit{   
        width: 100%;
        float: none;
    }
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navBar a {
        float: none;
        width: 100%;
    }
}
video {
    width: 100%;
    height: auto;
}

.info{
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    line-height: 1.43;
    color: #29303b;
    font-style: italic;
    text-align: center;
}